---
import Layout from '../layouts/Layout.astro';
---
<Layout title="About the project">
    <h1>About the project</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil blanditiis pariatur adipisci dolor at voluptatum voluptas facere nesciunt repudiandae illo animi placeat a hic officia ex aut non, rerum exercitationem.</p>
</Layout>
